<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="UTMachStoreConnectionString" connectionString="Data Source=LUIS;Initial Catalog=UTMachStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UTMachStoreConnectionString1" connectionString="Data Source=LUIS;Initial Catalog=UTMachStore;User ID=usuario;Password=usuario"
            providerName="System.Data.SqlClient" />
        <add name="UTMachStoreConnectionString2" connectionString="Data Source=25.191.119.37;Initial Catalog=UTMachStore;User ID=usuario;Password=usuario"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
  <add key ="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>
